.format-file-row{
    margin-bottom: 31px;
    justify-content: space-between;
}
.list-header{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    text-align: justify;
    letter-spacing: 0.01em;
    /* Write */
    color: #FFFFFF;
    background: #201F30;
}
.format-file-items{
    border: none;
    /* Black */ 
    background: #201F30;
    border-radius: 8px;
    height: 39px;
}
.top-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.bottom-right{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.box-delete-account{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.box-delete-account button {
    font-family: 'IRANSansWeb',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
    /* Black */
    background-color: #201F30;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 84px;
    height:56px;
    border: none;
}
.format-file-items a{
    border: none ;
    width: 100% !important;
    height: 100%;
    padding: 7px 11px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height */
    text-align: justify;
    letter-spacing: 0.01em;
    /* Write */
    color: #FFFFFF;
    display: flex;
}
.upload-file-box{
    margin-top: 16px;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    text-align: right !important;
}
.upload-file-box .card{
    height: 94px;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23333' stroke-width='2' stroke-dasharray='22%2c 20%2c 10%2c 24' stroke-dashoffset='53' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 14px;
    background-color: transparent;
    border: none !important;
}
.upload-file-box .card button{
    border: none;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
    /* Black */
    color: #201F30;
}
.content-header{
    padding-right:0 !important;
}
#upload-file-list-items{
    position: relative;
    display: flex;
    height: 56px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 8px ;
    background: #FFFFFF;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
}
.list-bank-account-header{
    height: 40px;
}
.list-bank-account-body{
    height: 56px !important;
    margin-top: 8px;
}


